@charset "utf-8";
html,
body,
div,
p,
span,
a,
img,
ul,
li,
b,
i,
dl,
dt,
dd {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.flexBlock {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.flex1 {
  flex: 1;
}
html,
body {
  width: 100%;
  min-width: 1366px;
  height: 100%;
  box-sizing: content-box;
}
p,
img {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #3f3f3f;
}
body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  background: url('../img/bg.png') no-repeat;
  background-size: 100% 100%;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 140px;
}
.header {
  width: 72%;
  margin: 0 auto;
  height: 200px;
}
.headerMain {
  width: 20%;
  height: 20%;
  margin-left: -20px;
}
.header img {
  width: 400px;
  /*height: auto;*/
  height: 140px;
  margin-top: 40px;
}
.main {
  width: 72%;
  margin: 0 auto;
  flex: 1;
}
.main .centerCon {
  width: 100%;
  height: 500px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.footer {
  height: 50px;
  text-align: center;
  color: #fff;
}
.themeBox {
  max-width: 701px;
  width: 100%;
  height: 100%;
  background: url('../img/left_pic1.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left:-16%;
}
.login_content {
  width: 434px;
  height: 500px;
  margin: auto 0;
  background: #ffffff;
}
.login_content .login_area {
  height: 450px;
  z-index: 999;
  border-radius: 3px;
  padding: 23px 12px 15px 12px;
}
.login_content .login_area .inputP {
  width: 320px;
  height: 50px;
  line-height: 48px;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  font-size: 18px;
  text-indent: 46px;
}
.login_content .login_area .inputP input {
  width: 250px;
  border: none;
  height: 25px;
  line-height: 25px;
  border-left: 1px solid #dbdbdb;
  text-indent: 8px;
}
.login_content .login_area p {
  margin-left: 40px;
}
.login_content .login_area .userDiv {
  height: 127px;
  padding-top: 43px;
}
.login_content .login_area .passwordDiv .code {
  min-height: 72px;
}
.login_content .login_area .user {
  background: url(../img/user.png) center left no-repeat;
}
.login_content .login_area .password {
  background: url(../img/password.png) center left no-repeat;
}


.login_content .login_area .inputP.active,
.login_content .login_area .inputP:hover {
  border: 1px solid #37b948;
}
.login_content .login_area .inputP.active input,
.login_content .login_area .inputP:hover input {
  border-left: 1px solid #37b948;
}
.login_content .login_area .user:hover {
  background: url(../img/user_on.png) center left no-repeat;
}
.login_content .login_area .password:hover {
  background: url(../img/password_on.png) center left no-repeat;
}
.login_content .login_header {
  width: 100%;
  height: 10%;
  margin: 0 auto;
  background: url(../img/logo.png) center left no-repeat;
}
.login_content .login_name {
  font-size: 20px;
  text-indent: 30px;
  height: 27px;
  line-height: 25px;
  background: url(../img/2.png) repeat-x;
}
.login_content .login_title {
  padding: 0 10px;
  background: #ffffff;
  color: #3B3C3C;
}
.login_content .helpBolck {
  font-size: 14px;
  height: 34px;
  line-height: 32px;
  color: #ff431f;
  display: none;
  margin-left: 98px!important;
}
.login_content .inputP.error {
  border: 1px solid red;
}
.login_content .helpBolck.error {
  display: block;
}
.border {
  border: 1px solid red;
}
.checkBox {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 21px;
  top: 4px;
  background: url(../img/rdo.png) no-repeat;
}
.checkBox.active {
  background: url(../img/rdo_on.png) no-repeat;
}
input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #d6d6d6;
}
input::-internal-autofill-selected {
  background-color: #fff!important;
}
.remeberPass {
  margin-left: 1px;
  color: #7b7b7b;
}
.radioDiv {
  min-height: 54px;
}
.remember {
  margin-top: 23px;
  width: 120px;
  height: 48px;
  line-height: 50px;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  font-size: 18px;
  text-indent: 10px;
}
.yzm {
  line-height: 50px;
  position: relative;
}
.yzm img {
  width: 27%;
  position: absolute;
  left: 183px;
  top: 15px;
}
.longinbtn {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: #288dec;
  color: #fff;
  font-size: 23px;
  margin-top: 40px;
}

#send{
    width: 150px;
    height: 30px;
    text-align: center;
    border: #c9c9c9 1px solid;
    margin-top: 10px;
    margin-left: 40px;
    background-color:white;
}
#send:hover{
    border: 1px solid #37b948;
}
.login-btn {
  width: 320px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 18px;
}
.login-btn button {
  width: 100%;
  border: none;
  cursor: pointer;
  background: #ffb400;
  color: #fff;
  font-size: 20px;
  height: 50px;
  line-height: 48px;
  border-radius: 3px;
}
.login-btn button:first-child {
  background: #37b948;
  width: 100%;
  letter-spacing: 5px;
}
.content {
  background: rgba(0, 0, 0, 0.1);
  zoom: 1;
}
.content:after {
  content: '.';
  width: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
/*登录添加*/
.login_area input {
  font-family: "microsoft yahei";
}
.login_area input:focus {
  outline: medium;
}
.login_area input::-ms-clear {
  display: none;
}
/*注册*/
.register {
  width: 905px;
  height: auto;
  overflow: hidden;
  background: url(../img/register_bg.png) no-repeat;
  z-index: 9999;
  margin: 0 auto;
  top: 10%;
  position: absolute;
  left: 18%;
  display: none;
}
.register_con {
  overflow: hidden;
  margin: 20px;
  background: #fff;
  padding: 15px 20px;
}
.title {
  font-size: 18px;
  color: #1b74e2;
  font-weight: bold;
  border-bottom: solid 1px #2786d6;
  padding-bottom: 10px;
  text-indent: 10px;
}
.suggestDiv {
  margin: 0 0 0 54px;
  color: #7b7b7b;
}
.shu {
  width: 4px;
  height: 15px;
  background: #295fcb;
  display: inline-block;
  margin-right: 10px;
}
.fr {
  float: right;
}
.margin_right_10 {
  margin-right: 10px;
}
.margin_bottom_100 {
  margin-bottom: 100px;
}
.margin_bottom_120 {
  margin-bottom: 120px;
}
.margin_bottom_30 {
  margin-bottom: 30px;
}
.overflow {
  overflow: hidden;
}
